body {
  background: #fffbb5;
}
img#logo {
  position: absolute;
  top: 10px;
  left: 20px;
}  
div#sidebar {
  float: left;
  position: absolute;
  top: 120px;
  width: 150px;
}
a.sidebar{
  text-decoration: none;
  font-weight: bold;
}
div#content {
  float: left;
  position: absolute;
  top: 15px;
  left: 160px;
  float: left;
  padding: 10px;
}
td.teamheader {
  font-weight: bold;
}
td.teamname {
  font-weight: normal;
  padding: 6px;
}

