body {
  background: #fffbb5;
}
img#logo {
  position: absolute;
  top: 10px;
  left: 20px;
}  
div#sidebar {
  float: left;
  position: absolute;
  top: 120px;
  width: 150px;
}
a.sidebar{
  text-decoration: none;
  font-weight: bold;
}
div#content {
  float: left;
  position: absolute;
  top: 15px;
  left: 160px;
  float: left;
  padding: 10px;
}
img {
  border-style: none;
}
td.teamheader {
  font-weight: bold;
}
td.teamname {
  font-weight: normal;
  padding: 6px;
}
ol.pubitem {
  counter-reset: item
}
li.pubitem {
  display: block
}
li.pubitem:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}
td.publications {
  padding: 5px;
}
span.pubauthors {

}
span.pubtitle {
  font-style: italic;
}
span.pubjournal {

}
span.pubvolume {
  font-weight: bold;
}
td.bookcategory {
  font-weight: bold;
}
